#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 30px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.subheader {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.logo {
  position: absolute;
  top: 12px;
  left: 12px;
  margin: 8px;
}

.dropzone, .processing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 600px;
  height: 300px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.25s ease;
}

.dropzone:hover, .drag {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.processing {
  border-style: solid;
}
