:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root * {
  box-sizing: border-box;
}

::selection {
  background-color: rgba(126, 206, 251, 0.8);
}

.scroll-overlay::-webkit-scrollbar {
  width: 10px;
}

.scroll-overlay::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.05);
}

.scroll-overlay:not(:hover)::-webkit-scrollbar-thumb {
  display: none;
}

.scroll-overlay::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  color: rgba(17, 187, 225, 1);
  text-decoration: inherit;
}
a:hover {
  color: rgba(15, 165, 199, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus {
  outline: none;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #FBAB7E;
  }
  button {
    background-color: #f9f9f9;
  }
}
