.loader {
    margin: 50px;
    --primary: rgba(255, 255, 255, 0.8);
}
/** * push-pop * lil push pop effect, push one side out and one side in * @author jh3y */
.push-pop {
    --duration: 0.85;
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
}
.push-pop > div:nth-of-type(1) {
    height: 20px;
    width: 20px;
    position: absolute;
    animation: push-pop-slide calc(var(--duration) * 1s) infinite alternate ease-in-out;
    transform: translate(0, -100%);
    top: 100%;
    left: 0;
}
.push-pop > div:nth-of-type(1):after {
    animation: push-pop-flip calc(var(--duration) * 1s) infinite alternate ease-in-out;
    background: var(--primary);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}
.push-pop > div:nth-of-type(2) {
    background: var(--primary);
    height: 30px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 20px;
}
.push-pop:after, .push-pop:before {
    animation: push-pop-pushed calc(var(--duration) * 1s) alternate infinite ease;
    background: var(--primary);
    bottom: 0;
    content: '';
    height: 40px;
    position: absolute;
    width: 20px;
}
.push-pop:before {
    animation: push-pop-pushed calc(var(--duration) * 1s) alternate-reverse infinite ease;
    left: 0;
}
.push-pop:after {
    right: 0;
}
@keyframes push-pop-pushed {
    0%, 72.5% {
        transform: translate(0, 0);
   }
    100% {
        transform: translate(0, 100%);
   }
}
@keyframes push-pop-flip {
    0% {
        transform: translate(0, 0) rotate(0deg);
   }
    50% {
        transform: translate(0, -80px) rotate(90deg);
   }
    100% {
        transform: translate(0, 0) rotate(180deg);
   }
}
@keyframes push-pop-slide {
    to {
        transform: translate(0, -100%) translate(80px, 0);
   }
}
